<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.StormWyrm.picture">

    <application>
        <activity android:name=".main.PictureActivity" />
        <activity android:name=".detail.ImageDetailActivity" />
    </application>
</manifest>