<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.stormwyrm.weather">

    <application>
        <activity android:name="com.github.stormwyrm.weather.ui.area.ChooseAreaActivity"/>
        <activity android:name="com.github.stormwyrm.weather.ui.weather.WeatherActivity"/>
    </application>

</manifest>
